<div>

    <h2>Formulario de Registro</h2>

    <form action="/auth/signup" method="POST">

<label for="username">Nombre de Usuario</label>
<input type="text"  name="username">
<br>
<p style="color:red">{{error}}</p>
<label for="email">Email</label>
<input type="email"  name="email">
<br>
<p style="color:red">{{error1}}</p>
<label for="password">Password</label>
<input type="password"  name="password">
<br>
<p style="color:red">{{error2}}</p>
<button>Registrarme</button>



    </form>
</div>