<div>

    <h2>Formulario de Registro</h2>

    <form action="/auth/signup" method="POST">

<label for="username">Nombre de Usuario:</label>
<input type="text"  class="border border-info" name="username">
<br>
<p style="color:red">{{error}}</p>
<label for="email">Correo Electrónico:</label>
<input type="email" class="border border-info"  name="email">
<br>
<p style="color:red">{{error1}}</p>
<label for="password1">Contraseña:</label>
<input type="password" class="border border-info" name="password">
<br>
<p style="color:red">{{error2}}</p>
<label for="password2">Repetir Contraseña:</label>
<input type="password" class="border border-info" name="password2">
<br>
<p style="color:red">{{error3}}</p>
<button  class="btn btn-info">Resgistrate</button>



    </form>
</div>