<div>
    <h3>Tus Productos</h3>


<p>Nombre del producto:{{productDetails.name}}</p>
<br>
<p>Descripción del Producto:{{productDetails.Description}}</p>
<br>
<p>Tipo de Alimento:{{productDetails.alimentType}}</p>


</div>