<div>

<h3>Edita tus Productos</h3>

<form action="/profile/{{productDetails._id}}/edit" method="POST">
    <label for="name">Nombre:</label>
    <input type="text" name="name" value="{{productsDetails.name}}">
    <br>
    <label for="description">Descripción:</label>
    <input type="text" name="description" value="{{productsDetails.description}}">
    <br>
    <label for="alimentType">Tipo de Alimento:</label>
    <input type="text" name="alimentType" value="{{productsDetails.alimentType}}">
    <br>

    <button>Editar</button>

    </form>


</div>