<nav>
<h2>¡Bienvenido a Peludos!</h2>
<p>Aquí podrás encontrar los productos para tu mascota. Podrás subir tu propio producto y comentar productos que hayas probado</p>
</nav>

<h3>Ver listado de:</h3>

<nav>
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/products/dogs/list">Perros</a>
    <img src="./images/IMG-20200801-WA0002.jpg" class="img-thumbnail" alt="500px" width="250px">
  </li>
  
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="/products/cats/list">Gatos</a>
        <img src="./images/gato.jpg" class="img-thumbnail" alt="500px" width="250px">

  </li>

  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="/products/fishes/list">Peces</a>
        <img src="./images/pez-payaso.jpg" class="img-thumbnail" alt="500px" width="250px">

  </li>

  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="/products/birds/list">Pájaros</a>
      <img src="./images/pajaro.jpg" class="img-thumbnail" alt="500px" width="250px">
  </li>
  
</ul>
</nav>





