<div class="home">
<nav>
<h2>¡Bienvenido a Peludos!</h2>
<p>Pienso, Comida Húmeda, Accesorios, Arenas y Mucho Más</p>
<p>¿Buscas algo para tú mascota? Todo lo que necesitas lo encontrarás en Peludos</p>
<p>¿Vendes productos para mascotas? ¡A qué esperas! Compártelo</p>
</nav>

<div class="container text-center">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
 <a class="nav-link" aria-current="page" href="/products/dogs/list">
    <div class="card col mb-4 justify-content-center p-2">
    <img src="./images/IMG-20200801-WA0002.jpg" class="card-img-top" alt="500px" width="250px">
    <div class="card-body">
    <h5 class="card-title">Perros</h5>
    </div>
  </div>
  </a>

 <a class="nav-link" aria-current="page" href="/products/cats/list">
<div class="card col mb-4 justify-content-center p-2">
    <img src="./images/gato.jpg" class="card-img-top" alt="500px" width="250px">
    <div class="card-body">
    <h5 class="card-title">Gatos</h5>
  </div>
</div>
</a>

 <a class="nav-link" aria-current="page" href="/products/fishes/list">
<div class="card col mb-4 justify-content-center p-2">
    <img src="./images/pez-payaso.jpg" class="card-img-top" alt="500px" width="250px">
    <div class="card-body">
    <h5 class="card-title">Peces</h5>
    </div>
</div>
 </a>


 <a class="nav-link" aria-current="page" href="/products/birds/list">
  <div class="card col mb-4 justify-content-center p-2">
    <img src="./images/pajaro.jpg" class="card-img-top" alt="500px" width="250px">
    <div class="card-body">
    <h5 class="card-title">Pájaros</h5>
    </div>
  </div>
    </a>
  </div>
</div>
</div>




