<h1>{{appTitle}} 🚀</h1>
<h1>Peludos</h1>

<label for="Perros">Perros:</label>
<select name="membership" id="membership">
  <option value="Pienso">Pienso</option>
  <option value="Chuches">Chuches y Snacks</option>
  <option value="Higiene">Higiene</option>
</select>
<a href="/products/dogs/list">Perros</a>
<a href="/products/cats/list">Gatos</a>
<a href="/products/fishes/list">Peces</a>
<a href="/products/birds/list">Pájaros</a>


