<nav>
<h2>¡Bienvenido a Peludos!</h2>
<p>Aquí podrás encontrar los productos para tu mascota. Podrás subir tu propio producto y comentar productos que hayas probado</p>
</nav>

<h3>Ver listado de:</h3>

<nav>
    <div class="d-flex justify-content-between">
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="/products/dogs/list">Perros
    <img src="./images/IMG-20200801-WA0002.jpg" class="rounded float-sm-start" alt="500px" width="250px">
  </a>
  </div>

  <div class="d-flex justify-content-between">
  <a class="nav-link" aria-current="page" href="/products/cats/list">Gatos
        <img src="./images/gato.jpg" class="rounded float-none" alt="500px" width="250px" >
  </a>
  </div>

<nav>
    <a class="nav-link" aria-current="page" href="/products/fishes/list">Peces
        <img src="./images/pez-payaso.jpg" class="rounded float-none" alt="500px" width="250px">
  </a>
</nav>

<nav>
    <a class="nav-link" aria-current="page" href="/products/birds/list">Pájaros
      <img src="./images/pajaro.jpg" class="rounded float-none" alt="500px" width="250px">
  </a>
  </nav>
  
</ul>
</nav>





