body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ECEFF1 !important;
}

.navbar-brand {
  color: #13c1ac !important;
  font-weight: bold;
  font-family: "fangsong";
}

.home {
  text-align: center;
  font-family: sans-serif; 
  font-size: 18px; 
  font-weight: 400;
  padding: 40px;
}

.products {
  text-align: center;
  font-family: sans-serif; 
  font-size: 18px; 
  font-weight: 400;
  padding: 40px;
}

.button-create {
  text-align: center;
  font-family: sans-serif; 
  font-size: 18px; 
  font-weight: 400;
  padding: 40px;
}