<div>

<form action="/products/{{productId}}/comments" method="POST" >
<label for="comments">Comentario:</label>
<textarea name="comments"></textarea>
<button>Dejar comentario</button>

</form>
</div>