<div>

<h3>Crea tu Producto</h3>

<form action="/products/create-product" method="POST">

<label for="name">Nombre:</label>
<input type="text" name="name"> 
<br>
<label for="description">Descripción:</label>
<input type="text" name="descrption">
<br>
<label for="productType">Tipo de Producto:</label>
<input type="text" name="productType">
<br>
<label for="animal">Animal:</label>
<input type="text" name="animal">
<br>
<button>Crear Producto</button>
</div>