<div>

  <h3>Crea tu Producto</h3>

  <form action="/products/create-product" method="POST" enctype="multipart/form-data">
    
    <label for="name">Nombre:</label>
    <input type="text" class="border border-info" name="name" />
    <br />
    <label for="description">Descripción:</label>
    <textarea name="description" class="border border-info"></textarea>
    <br />
    <label for="productType">Tipo de Producto:</label>
    <input type="text" class="border border-info" name="productType" />
    <br />
    <label for="animal">Animal:</label>
    <select class="border border-info" name="animal">
      <option value="">Elige un animal</option>

      {{#each animals}}

        <option value="{{this}}">{{this}}</option>

      {{/each}}

    </select>
   
      <label for="cover">Imagen Producto</label>
      <input type="file" class="btn btn-info" class="border border-info" name="cover">
    
    <br />
    <button class="btn btn-info">Crear Producto</button>
  </form>
</div>