<div>

<h3>Crea tu Producto</h3>

<form action="/products/create" method="POST">

<label for="name">Nombre:</label>
<input type="text" name="name"> 
<br>
<label for="description">Descripción:</label>
<input type="text" name="descrption">
<br>
<label for="alimentType">Tipo de Alimento:</label>
<input type="text" name="alimentType">
<br>
<button>Crear Producto</button>
</div>