<div>
    <h3>Tus Productos</h3>


<p>Nombre del producto:{{productDetails.name}}</p>
<br>
<p>Descripción del Producto:{{productDetails.Description}}</p>
<br>
<p>Tipo de Alimento:{{productDetails.alimentType}}</p>

 <form action="/products/create-product" method="POST">

    <label for="comments">Comentario:</label>
    <input type="text" name="comments" />

    </form>


</div>